<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %> </title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header-nav">
        <ul class="main-header-item-list">
          <li class="main-header-item"><a href="/">Blogs</a></li>
          <li class="main-header-item">
            <a href="/add-blogs">CreateBlog</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>List Of Blogs</h1>
      <% if(blogg.length>0){ %>
        <div class="container">
            <% for(let blog of blogg){ %>
            <details>
                <summary><%= blog.title %></summary>
                    <div class="container1">
                        <h3><%= blog.author %></h3>
                        <p><%= blog.content %></p>
                        <form action="/comments" method="POST">
                            <label for="comments">Comments</label>
                            <input type="text" name="comments" placeholder="Write a Comment">
                            <input type="hidden" name="id" value="<%= blog.id %>">
                            <button type="submit"> send</button>
                        </form>
                        <h4><%= blog.comment %></h4>
                        
                    </div>  
            </details>
            <% } %>
        </div>
        <% } else { %>
        <h1>No BLogs Available!</h1>
        <% } %>

    </main>
  </body>
</html>